<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Awaiting Release</title>
</head>
<body style="color: #0b0c0c; font-family: Helvetica, Arial, sans-serif; font-size: 16px; margin: 0;">
    <b>Story {{ story_number }} is now Awaiting Release</b>
    <p>Details below</p>
    <p>Jira Story Number: {{ story_number }}</p>
    <p>Jira Story Title: {{ title }}</p>
    <p>Assigned To: {{ assignee }}</p>
    <p>Released By: {{ released_by }}</p>
    <p>Signed Off By: {{ sign_off_by }}</p>
    <p>Estimated Release Date: {{ estimated_release_date }}</p>
</body>
</html>